<div class="row">
	<div class="col-md-9" id="world-map"></div>
	<div class="col-md-3" id="data-tab-wrapper">
        <h3 id="country-name" class="center-block"></h3>
		<table id="data-tab" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Average Score</th>
            </tr>
        </thead>
       
        <tbody id="country-stats">
           
         
        </tbody>
    </table>
	</div>
</div>
