
<div class="row">
	<div class="col-md-8" id="world-map" style="padding-right:5px;" ></div>
	<div class="col-md-4" style="padding-left:0px;">
        <h4 id="stats" class="text-center"></h4>
        <div id="data-tab-wrapper">
            <h4 id="country-name" class="text-center"></h4>
    		<table id="data-tab" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>Average Score</th>
                    </tr>
                </thead>
               
                <tbody id="country-stats">
                   
                 
                </tbody>
            </table>
    </div>
	</div>
</div>

