#world-map {
    height:96vh;
}

#data-tab-wrapper{
	display: none;
}

body {
	font-family: Ubuntu;
}
h4 {
	font-weight: bold;
}
.dataTables_wrapper .dataTables_filter input {
	border-radius: 5px;
	width: 31vw;
}